/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 26, 2016, 3:46:24 PM
    Author     : FG
*/
hr {
  color: #4caf50;
  margin-bottom: 18px;
  margin-top: -18px;
  padding-top: 0;
}
#wrapper{
    width: 100%;
}
#form_for_Reg {
  border-radius: 12px;
  bottom: 0;
  box-shadow: 0 2px 12px 0 #777;
  height: 474px;
  left: 0;
  margin: auto;
  padding: 30px;
  position: fixed;
  right: 0;
  top: 0;
  width: 472px;
}
#login_logo{
    align-items: center;
}
#form_for_Reg {
  border-radius: 12px;
  bottom: 0;
  box-shadow: 0 2px 12px 0 #777;
  height: 474px;
  left: 0;
  margin: auto;
  padding: 30px;
  position: fixed;
  right: 0;
  top: 0;
  width: 360px;
}
.ui-inputfield {
  font-weight: normal;
  height: 38px;
  margin-bottom: 6px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  outline-color: -moz-use-text-color;
  outline-style: none;
  outline-width: medium;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  text-align: center;
  width: 268px;
}
.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield {
  box-shadow: 0 2px 2px #fff inset;
}
.ui-inputfield.ui-state-focus, .ui-widget-content .ui-inputfield.ui-state-focus, .ui-widget-header .ui-inputfield.ui-state-focus {
  box-shadow: 0 0 5px #fff, 0 2px 2px #fff inset;
}
.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield {
  background-attachment: scroll;
  background-clip: content-box;
  background-color: #fff;
  background-image: none;
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto auto;
  color: #383838;
}
.ui-corner-all {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-color: #4caf50;
}
.ui-button {
  background-color: #4caf50;
  cursor: pointer;
  display: inline-block;
  height: 44px;
  margin-left: 18px;
  margin-right: 0.1em;
  margin-top: 15px;
  overflow: visible;
  padding: 0;
  position: relative;
  text-align: center;
  text-decoration: none !important;
  width: 177px;
}