.ui-corner-all {
    border-radius: 0;
}
.ui-menu, .ui-menu .ui-menu-child {
    /*background: #fff linear-gradient(center top , rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0)) repeat scroll 0 0;*/   
    background-color: #ffffff;

}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    /*background: #4a7790 linear-gradient(center top , rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)) repeat scroll 0 0;*/

    background-color: #4a7790;

    box-shadow: 0 0 0 #4a7790;
}

#top .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  background-color: #4caf50;
  background: #4caf50;
  
 
}