#purchasesForm .ui-inputfield {
    font-weight: normal;
    margin: 0;
    outline: medium none;
    padding: 4px;
    width: 98%;
    background: transparent;
    background-color: transparent;
    border-radius: 5px;

}

#dataTable th{
    background: #c2c2c2 !important;
    background-color: #c2c2c2 !important;
    border: none !important;
    box-shadow: none !important;
    color: #fff !important;
    
}
#dataTable td{
    border: 1px solid #c2c2c2 !important;
    text-align: center !important;
}
#dataTable .ui-datatable-header{
    background: transparent !important;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    color: #000 !important;
    padding: 10px !important;
    margin: 5px !important;
    font-size: 24px !important;
}