/*.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #4caf50 -moz-linear-gradient(center top , rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) repeat scroll 0 0;
    border: 1px solid #a8a8a8;
    color: #4f4f4f;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}*/

.ui-inputfield:hover, .ui-inputfield:active, .ui-inputfield:after, .ui-inputfield:focus {
  background-color: #fff;  
}