<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/bexpresstest?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">327434294</property>
    <mapping resource="com/bexpress/pojo/PurchasesCost.hbm.xml"/>
    <mapping resource="com/bexpress/pojo/Managers.hbm.xml"/>
    <mapping resource="com/bexpress/pojo/Suppliers.hbm.xml"/>
    <mapping resource="com/bexpress/pojo/Product.hbm.xml"/>
    <mapping resource="com/bexpress/pojo/Supervisor.hbm.xml"/>
    <mapping resource="com/bexpress/pojo/Return.hbm.xml"/>
    <mapping resource="com/bexpress/pojo/Representatives.hbm.xml"/>
    <mapping resource="com/bexpress/pojo/Category.hbm.xml"/>
    <mapping resource="com/bexpress/pojo/Orders.hbm.xml"/>
    <mapping resource="com/bexpress/pojo/Purchases.hbm.xml"/>
    <mapping resource="com/bexpress/pojo/Bmanager.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
